/AppmakerLibrary/.DS_Store
/AppmakerLibrary.xcodeproj/xcuserdata/barni.xcuserdatad/xcschemes/xcschememanagement.plist
/AppmakerLibrary.xcodeproj/xcuserdata/barni.xcuserdatad/xcschemes/AppmakerLibrary.xcscheme
/AppmakerLibrary.xcodeproj/project.xcworkspace/xcuserdata/barni.xcuserdatad/UserInterfaceState.xcuserstate
.DS_Store
/.DS_Store